@media screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.wrapper {
    display: flex;
    margin-bottom: 50px;
}
